*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #f2f2db;
}

.logo_cyc{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.logo_cyc img{
    width: 50%;
}

.title_faqs_h2{
    width: 55%;
}

.title_faqs_h2 h2{
    font-weight: bolder;
    font-size: 30px;
    color: #4d4d4d;
    line-height: 62px;
    text-align: end;
    margin-bottom: 4%;
}

.title_faqs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 10%;
    margin-top: 16px;
    margin-bottom: 16px;
}

.title_faqs img{
    height: 40%;
    padding-top: 6%;
}

.faqs_img{
    padding-left: 1%;
    width: 25%;
}

#faqs_youth, #faqs_org, #angle_response_11, #angle_response_22, #angle_response_33, #angle_response_44,
#angle_response_55, #angle_response_66, #angle_response_77, #angle_response_88, #angle_response_99, 
#angle_response_101, #angle_response_121 {
    display: none;
}

.faqs{
    font-weight: bolder;
    font-size: 20px;
    color: #4d4d4d;
    padding: 0 10% 0;
    margin-bottom: 6%;
}

.faqs li {
    text-align: justify;
    margin-bottom: 2%;
}

.faqs img{
    width: 2%;
    height: 3%;
}

.faqs_response{
    font-weight: 500;
    font-size: 20px;
    color: #4d4d4d;
    padding: 0 0 0 4%;
    line-height: 42px;
}

.faqs_response li{
    list-style:none;
}

.city_background_image{
    background-image: url('../img/svg/fundo-cidade2.svg');
    background-repeat: repeat-x;
    width: 100%;
    height: 31%;
    margin-top: 10%;
}

.link_term{
    display: flex;
    flex-direction:row;
    justify-content: center;
    position: relative;
    z-index: 10;
    margin-top: -38px;
}

.link_term a{
    color: #4d4d4d;
    font-size: 22px;
    font-weight: 600;
    text-decoration: underline;
}

/*START OF RESPONSIBILITY*/
@media only screen and (max-device-width: 900px) {

    .logo_cyc img{
        width: 80%;
        padding: 0 10% 5%;
    }

    .faqs_cyc{
        margin-top: 8%;
    }

    .title_faqs_h2{
        width: 80%;
    }

    .title_faqs_h2 h2{
        font-size:56px;
    }

    .title_faqs{
        margin-top: 0;
        margin-bottom: 0;
    }

    .title_faqs img {
        padding-top: 2%;
    }

    .faqs{
        font-size: 22px;
        margin-bottom: 8%;
    }

    .faqs li {
        margin-bottom: 4%;
    }

    .faqs img{
        width: 4%;
        height: 3%;
    }

    .faqs_response{
        font-size:22px;
        padding: 0 0 0 8%;
        line-height:50px;
    }

    .city_background_image{
        display: none;
    }

    .footer_img_city{
        background-image: url('../img/svg/fundo-cidade.svg');
        background-repeat: repeat-x;
        margin-top: 16%;
        width: 100%;
        height: 35%;
    }

    .link_term{
        margin-top: 0px;
        bottom: -86%;    
    }

    .link_term a{
        font-size: 38px;
    }
}