*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #f2f2db;
}

/*Start Language select styling*/
.dropdown{
    position: relative;
    width: 195px;
    height: 50px;
    left: 84%;
    background-color:#f2f2db;
    margin-top: 15px;
}

.dropdown::before{
    content: '';
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 10000;
    width: 8px;
    height: 8px;
    border: 2px solid #4d4d4d;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
}

.dropdown.active::before{
    top: 25px;
    transform: rotate(-225deg);
}

.dropdown input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #fff;
    border: none;
    outline: none;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #4d4d4d;
}

.option span{
    font-size: 15px;
    font-weight: 600;
    color: #4d4d4d;
    margin-left: 10px;
    position: absolute;
    margin-top: 16px;
}

.dropdown .option{
    position: absolute;
    top: 60px;
    width: 100%;
    background: #fff;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
    display: none;
}

.dropdown.active .option{
    display: block;
}

.dropdown .option div{
    padding: 5px 15px;
    cursor: pointer;
}

.dropdown .option div:hover{
    background: #8cc63f;
}

.dropdown .option div img{
    position: relative;
    top: 4px;
    font-size: 1.2em;
}
/*Finish Language selection style*/

.logo_cyc{
    display: flex;
    justify-content: center;
}

.logo_cyc img{
    width: 50%;
}

.text_show_cyc p{
    font-size: 22px;
    color: #000;
    line-height: 32px;
    text-align: justify;
    padding: 0 22% 0;
}

.question_cyc h2{
    font-weight: bolder;
    font-size:36px;
    color: #4d4d4d;
    text-align: center;
    margin: 4% 0 4% 0;
}

.text_error{
    color: #c1272d;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 30px;
}

.buttons{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
}

.button_teacher, .button_student{
    width: 25%;
    margin: 0 25px 0 25px;
}

.button_teacher button, .button_student button{
    width: 100%;
    height: 68px;
    border-radius: 15px;
    border: none;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.button_teacher button{
    background-color: #8cc63f;
}

.button_student button{
    background-color: #f7931e;
}

.city_background_image{
    background-image: url('../img/svg/fundo-cidade2.svg');
    background-repeat: repeat-x;
    width: 100%;
    height: 31%;
    margin-top: 10%;
}

.link_term{
    display: flex;
    flex-direction:row;
    justify-content: center;
    position: relative;
    z-index: 10;
    margin-top: -45px;
}

.link_term a{
    color: #4d4d4d;
    font-size: 22px;
    font-weight: 600;
}

/*START OF RESPONSIBILITY*/
@media only screen and (max-device-width: 900px) {
    /*Start Language select styling*/
    .dropdown{
        width: 215px;
        left: 75%;
        margin: 15px 10px 0 0;
    }

    .option span{
        font-size: 17px;
    }

    .dropdown .option{
        top: 70px;
    }

    .dropdown .option div{
        padding: 12px 20px;
    }
    /*Finish Language selection style*/

    .logo_cyc img{
        width: 80%;
        padding: 0 10% 5%;
    }

    .text_show_cyc p{
        font-size: 28px;
        line-height: 43px;
        padding: 0 10% 0;
        margin:5% 0 5% 0 ;
    }

    .question_cyc h2{
        font-size:56px;
        line-height:62px;
        padding: 0 10% 0;
        margin: 8% 0 8% 0;
    }

    .text_error{
        font-size: 30px;
    }

    .buttons{
        flex-direction:column;
        justify-content: center;
    }

    .button_teacher, .button_student{
        width: 80%;
        margin-bottom: 25px;
    }

    .button_teacher button, .button_student button{
        height: 120px;
        border-radius: 25px;
        font-size: 40px;
    }

    .city_background_image{
        background-image: url('../img/svg/fundo-cidade.svg');
        background-repeat: repeat-x;
        width: 100%;
        height: 48%;
    }
    .link_term{
        margin-top: -9%;
    }

    .link_term a{
        font-size: 38px;
    }

}