*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;;
}

a{
    text-decoration: none;
}

.header_buttons{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 10;
    margin-bottom: -250px;
    padding-top: 40px;
}

.come_back_button, .menu_button{
    padding: 0 4% 0;
    width: 4%;
}

.header_photo img{
    width: 100%;
}

.profile_img{
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin-top: -25%;
}

.profile_img img{
    position: relative;
    z-index: 1;
    top:-132px;
    width: 18%;
    border-radius: 50%;
}

.customization_user{
    background-color: #f8f8f8;
    border-radius: 55px 55px 0px 0px;
    padding-top: 30%;
    position: relative;

    margin-top: -22%;
}

.user_data{
    display: flex;
    flex-direction: row;
    margin-top: -175px;
    margin-left: 40px;
}

.user_data_name{
    padding-bottom: 8px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.link_cv{
    width: 12%;
    padding-right: 15px;
    padding-top: 4px;
}

.div_1{
    width: 45%;
}

.user_data_name h2{
    font-size: 22px;
    color: #c1272d;
    font-weight:bolder;
}

.user_data_name h4{
    font-size: 18px;
    font-weight: 500;
}

.user_data_plus{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-top: 10px;
}

.user_data_plus img{
    width: 30px;
}

.user_data_plus span{
    font-weight: 500;
    font-size: 16px;
    color:#999999;
    margin: 5px 0 0 15px;
}

.user_qualifications{
    display: flex;
    flex-direction: column;
    width: 26%;
    margin-left: 24px;
}

.user_qualifications_plus{
    width: 66%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 12px
}

.user_qualifications_plus img{
    width: 32%;
}

.user_qualifications_plus span{
    font-weight:500;
    font-size: 16px;
    margin: 10px 0 0 15px;
}

#span_communication{
    margin-top: 10px !important;
}

.topics_session{
    padding-right: 10%;
}

.topics_session_plus{
    width: 36%;
    margin-right: 26px;
}

.topics_session_plus h2{
    font-weight: bold;
    font-size: 22px;
    color: #c1272d;
}

.topics_session_plus p{
    margin-top: 14px;
    font-weight: 400;
    font-size: 16px;
}

.send_button, .add_button{
    width: 26%;
    padding: 80px 0 18px 80px;
}

.add_button{
    padding: 0 0 80px 80px !important;
}

.send_button button, .add_button button{
    width: 90%;
    height: 52px;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    background-color: #8cc63f;
}

.send_button button a, .add_button button a{
    color: #fff;
}

/*Start modal*/
.modal{
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal .content{
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 70%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#close_modal{
        cursor: pointer;
        border: 1px solid #91918d38;
        background-color: transparent;
        height: 40px;
        width: 10%;
        color: #000000db;
        font-size: 1.5em;
        box-shadow: 0 6px 6px rgb(0 0 0 / 60%);
        font-weight: 500;
        border-radius: 10px;
        margin-bottom: 10px;
}

.form{
    width: 90%;
    position: relative;
    background-color: #f8f8f8;
    border-radius: 40px 40px 40px 40px;
    box-shadow: 1px 7px 20px #91918d38;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
}

.text_error{
    color: #c1272d;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    margin-top: 40px;
}

.photo_profile{
    margin-top: 10%;
}

.img_modal{
    width: 58%;
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin-top: 10px;
}

.img_modal input{
    background: #f2f2db;
    font-weight: 600;
    font-size: 16px;
}

.first_name_modal, .last_name_modal{
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    border-radius: 16px;
    margin-top:10px; 
    box-shadow: 1px 1px 20px #91918d38;
}

.first_name_modal{
    margin: 0 12% 0;
    width: 80%;
}

.last_name_modal{
    margin: 0 5% 0;
    width: 80%;
}

.mentor_modal, .mentor, .city, .email, .password, .textarea{
    margin: 0 6% 0;
    width: 86%;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    border-radius: 16px;
    margin-top:10px; 
    box-shadow: 1px 1px 20px #91918d38;
}


#form_login label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 38px 52px 14px;
    font-weight: bold;
    font-size: 18px;
    color: #000;
    padding-left: 40px;
}

#last_name_label, #information_label{
    padding-left: 10px !important;
    
}

.first_name_modal input, .last_name_modal input, .mentor_modal input, .mentor input, .city input, .email input, .password input{
    background: #FFFFFF;
    border: none;
    height: 62px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    width: 86%;
    margin-left: 22px;
}

.profile_img input{
    background: #f2f2db;
    font-weight: 600;
    font-size: 16px; 
}

.first_name_modal input:focus, .last_name_modal input:focus, .mentor_modal input:focus,.mentor input:focus, .city input:focus, .email input:focus, .password input:focus{
    outline: 0; 
}

#form_login ::placeholder{
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
    color: #b3b3b3;
}

.student_information{
    display:flex;
    width: 92%;
    margin-left: 3%;
}

.student_information_item{
    width: 50%;
}

.button_submit{
    width: 69%;
    margin: 10% 13% 8%;
}

.button_submit button{
    width: 100%;
    height: 60px;
    border-radius: 14px;
    border: none;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    background-color: #8cc63f;
}

.textarea textarea{
    width: 100%;
    border: none;
    border-radius: 15px;
    padding: 20px 22px 0;
    font-size: 18px;
}

.textarea textarea:focus{
    outline: 0; 
}

/*End modal*/

/*START OF RESPONSIBILITY*/
@media only screen and (max-device-width: 900px) {

    .come_back_button, .menu_button{
        padding: 0 10% 0;
        width: 10%;
    }

    .profile_img{
        margin-top: -14%;
    }

    .profile_img img{
        top: 0;
        width: 30%;
        border-radius: 50%;
    }

    .customization_user{
        margin-top: -22%;
    }

    .div_1{
        width: 100%;
    }

    .user_data{
        display: block;
        margin-top: 0;
        margin-left: 0;
        padding: 0 0 0 10%;
    }

    .user_data_name{
        padding-bottom: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .link_cv{
        width: 10%;
        padding-right: 10%;
    }

    .user_data_name h2{
        font-size: 57px;
    }

    .user_data_name h4{
        font-size: 47px;
    }

    .user_data_plus{
        margin-top: 20px;
        margin-left: 0;
    }

    .user_data_plus img{
        width: 7%;
    }

    .user_data_plus span{
        font-size: 37px;
        margin: 16px 0 0 20px;
    }

    .user_qualifications{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 60px 0 80px 0;
    }

    .user_qualifications_plus{
        display: flex;
        flex-direction: row;
        margin-right: -5px;
    }

    .user_qualifications_plus img{
        width: 25%;
    }

    .user_qualifications_plus span{
        font-size:28px;
        margin: 30px 0 0 15px;
    }

    #span_communication{
        margin-top: 20px !important;
    }

    .topics_session_plus{
        margin-top: 40px;
        width: 100%;
    }

    .topics_session_plus h2{
        font-size: 46px;
    }

    .topics_session_plus p{
        margin-top: 20px;
        font-size: 35px;
    }

    .send_button, .add_button{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        width: 80%;
        padding: 80px 0 30px 110px;
    }

    .add_button{
        padding: 0 0 80px 110px !important;
    }

    .send_button button, .add_button button{
        width: 100%;
        height: 120px;
        border-radius: 25px;
        font-size: 40px;
    }

    .img_modal{
        margin-left: 10%;
    }
}