*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;;
}

a{
    text-decoration: none;
}

button{
    border: none;
}

.header_buttons{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 100%;
    padding-top: 60px;
}

.come_back_button, .menu_button{
    padding: 0 5% 0;
    width: 5%;
}

.title_find_teacher{
    text-align: center;
    margin-top: 40px;
}

h1{
    font-weight: bolder;
    font-size: 28px;
}

.search_teacher{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2% 30% 0;
    border-radius: 15px;   
}

.search_teacher input{
    width: 74%;
    height: 72px;
    background: #ffffff;
    border: none;
    font-weight: 600;
    font-size: 18px;
}

.search_teacher input:focus{
    outline: 0; 
}

.search_teacher ::placeholder{
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    color: #b3b3b3;
}

.dropdown_search, .icon_search{
    width: 8%;
    background-color: #ffffff;
}

.icon_search{
    cursor: pointer;
}

.dropdown_search{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 0 2% 0;
    padding-bottom: 8px;
}

#dropdown{
    width: 70%;
    margin-top: 20px;
    display: none;
}

.search_button{
    background-color: #ffffff;
    border-radius: 15px;
    padding: 5px;
    margin: 30px 30% 5%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.btn {
    width: 45%;
    height: 55px;
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 12px;
    font-weight: 600;
    font-size: 18px;
    color: #b3b3b3;
}

.active{
    background-color: #8cc63f;
    color: white;
    transition: background 0.5s;
}

.locator_buttons{
    display: flex;
    flex-direction: column;
}

.button_locator_one, .button_locator_two, .button_locator_three{
    cursor: pointer;
    width: 70px;
    border: none;
    background-color: transparent;
}

.button_locator_one{
    margin: 5% 0 0 59%;
}

.button_locator_two{
    margin: 8% 0 0 10%;
}

.button_locator_three{
    margin: 5% 0 6% 83%;
}

.photo_locator{
    width: 100px;
    height: 100px;
    background-image: url("../img/svg/icon-localizadores.svg");
    background-repeat:no-repeat;
}

.photo_locator_category{
    width: 80px;
    height: 80px;
    background-image: url("../img/svg/icon-localizadores-orange.svg");
    background-repeat:no-repeat;
}

.photo_locator_number, .modal_title_number{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.photo_locator_number h3, .modal_title_number h3{
    margin-top: 38%;
    color: #fff;
    font-weight: bolder;
    font-size: 20px;
}

.text_error{
    color: #c40b11;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    margin: 30px 0 30px 0;
}

.modal_teacher{
    border-radius: 55px 55px 0px 0px;
    background-color: #d40023;
    margin-top: 40px;
    display: none;
}

.modal_title{
    background-color: #d40023;
    width: 80%;
    margin: 0 8% 0;
    color: #fff;
    height: 87px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.modal_title h1{
    font-weight: 600;
    font-size: 26px;
    padding-top: 2%;
    text-transform: uppercase;
}
.modal_title span{
    font-weight: bolder;
}

.modal_title_img{
    width: 70px;
    height: 70px;
    margin: 1% 0 0;
    background-image: url("../img/svg/icon-localizadores-white.svg");
    background-repeat:no-repeat;
}

.modal_title_number h3{
    color: #d40023 !important;
}

.card_teacher{
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    padding-left: 6%;
}

.card_teacher_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 28%;
    margin: 0 1% 1%;
    padding: 2% 1% 3%;
    border-bottom: 3px dashed #d40023;
}

.card_name h2{
    font-weight: bolder;
    font-size: 24px;
}

.card_name h4{
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
}

.card_name_plus{
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}

.card_name_plus img{
    width: 8%;
}

.card_name_plus span{
    font-weight: 400;
    font-size: 20px;
    color: #999999;
    padding: 5px 10px 0;
}

.card_button{
    width: 20%;
    margin-top: 20px;
}

/*MAP*/
.mt {
    font-weight: bolder;
    font-size: 28px;
    background-color:#8cc63f;
    padding: 8px 0 10px 65px;
    color:#fff;
}

#map {
    width: 100%;
    height: 120%;
}

/*START OF RESPONSIBILITY*/
@media only screen and (max-device-width: 900px) {

    .come_back_button, .menu_button{
        padding: 0 10% 0;
        width: 10%;
    }

    h1{
        font-size: 40px;
    }

    .search_teacher{
        margin: 4% 10% 0;
        border-radius: 30px;   
    }

    .search_teacher input{
        width: 75%;
        height: 120px;
        font-size: 30px;
    }

    .search_teacher ::placeholder{
        font-size: 30px;
    }

    .dropdown_search{
        padding-bottom: 20px;
    }

    #dropdown{
        margin-top: 39px;
    }

    .search_button{
        border-radius:30px;
        padding: 10px;
        margin: 30px 10% 5%;
    }

    .btn {
        width: 45%;
        height: 100px;
        border-radius: 20px;
        font-size: 35px;
    }

    .button_locator_one{
        margin: 8% 0 0 55% ;
    }

    .button_locator_two{
        margin: 30% 0 0 10% ;
    }

    .button_locator_three{
        margin: 8% 0 6% 80% ;
    }

    .photo_locator_category{
        width: 100px;
        height: 100px;
    }

    .photo_locator_number h3, .modal_title_number h3{
        margin-top: 34%;
        font-size: 25px;
    }

    .text_error{
        font-size: 30px;
    }

    .modal_teacher{
        border-radius: 55px 55px 0px 0px;
        background-color: #d40023;
        margin-top: 40px;
        display: none;
    }

    .modal_title{
        margin: 0 7% 0;
        height: 180px;
        display: flex;
    }

    .modal_title h1{
        font-weight: 500;
        font-size: 40px;
        padding-top: 6%;
    }

    .modal_title_img{
        width: 110px;
        height: 110px;
        margin: 5% 0 0;
    }

    .card_teacher{
        background-color: #fff;
        display: block;
        padding-left: 0;
    }

    .card_teacher_box{
        width: 80%;
        margin: 0 10% 0;
        padding: 2% 0 3%;
    }

    .card_name h2{
        font-size: 35px;
    }

    .card_name h4{
        font-size: 30px;
        line-height: 50px;
    }

    .card_name_plus{
        display: block;
        margin-top: 15px;
    }

    .card_name_plus img{
        width: 10%;
    }

    .card_name_plus span{
        font-size: 25px;
        padding: 10px 20px 0;
    }

    .card_button{
        width: 9%;
        margin-top: 0;
    }

    /*MAP*/
    .mt {
        font-size: 40px;
        padding: 10px 0 10px 10%;
    }
}