*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;;
}

body{
    background-color: #f2f2db;
}

.text_error{
    color: #c1272d;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 25px;
    margin-top: 40px;
}

.form{
    background-color: #f8f8f8;
    border-radius: 0 0 60px 60px;
    box-shadow: 1px 7px 20px #91918d38; 
    display: flex;
    flex-direction:column;
    justify-content: center;  
    padding-bottom: 40px;
}

.profile_img, .first_name, .last_name, .city, .email, .password {
    margin: 0 10% 0;
    width: 80%;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    border-radius: 25px;
    margin-top:10px; 
    box-shadow: 1px 1px 20px #91918d38;
}

.profile_img{
    margin: 0 13% 0;
    width: 50%;
    margin-top:10px; 
    box-shadow: 1px 1px 20px #91918d38;
}

#form_login label{
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 80%;
    margin: 40px 10% 20px;
    font-weight:bold;
    font-size:30px;
    color:#000;
    padding-left: 40px;
}

.first_name input, .last_name input, .city input, .email input, .password input{
    background: #FFFFFF;
    border: none;
    height: 110px;
    border-radius: 25px; 
    font-weight: 600;
    font-size: 30px;
    width: 100%;
    margin-left: 40px; 
}

.profile_img input{
    background: #f2f2db;
    font-weight: 600;
    font-size: 30px; 
}

.first_name input:focus, .last_name input:focus, .city input:focus, .email input:focus, .password input:focus{
    outline: 0; 
}

#form_login ::placeholder{
    font-weight: 600;
    font-size: 30px;
    line-height: 22px;
    color: #b3b3b3;
}

.button_submit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 5% 0 0 2%;
}

.button_submit button{
    width: 83%;
    height: 120px;
    border-radius: 25px;
    border: none;
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    background-color: #8cc63f;
}

.footer_img_city{
    margin-top: 70px;
}

.footer_img_city img{
    width: 100%;
}