*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;;
}

a{
    text-decoration: none;
}

.logo_cyc img{
    width: 20%;
    padding: 2% 2% 0;
}

.header_buttons{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 10;
    margin-bottom: -250px;
    padding-top: 40px;
}

.come_back_button, .menu_button{
    padding: 5% 6% 0;
    width: 10%;
}

.profile_img{
    width: 90%;
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin-bottom: -11%;
    margin-left: 5%;
}

.profile_img img{
    position: relative;
    z-index: 10;
    top: -50px;
    width: 20%;
    border-radius: 50%;
}

.customization_user{
    background-color: #8cc63f;
    border-radius: 55px 55px 0px 0px;
    padding-top: 12%;
}

.buttons_of_profile{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin-left: 10%;
}

.profile_button, .look_teachers_button{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-bottom: 25px;
    padding: 0 1% 0;
}

.profile_button button, .look_teachers_button button{
    width: 100%;
    height: 70px;
    border-radius: 16px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    background-color: #fff;
}

.logout_button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 25px;
    padding: 10% 0;
}

.logout_button button{
    width: 30%;
    height: 70px;
    border-radius: 16px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    background-color: #fff;
}

.profile_button button a{
    color: #8cc63f;
}

.look_teachers_button button{
    background-color: #f7931e;
}

.logout_button button{
    background-color: #4d9a10 !important;
}

.logout_button button a, .look_teachers_button button a{
    color: #fff;
}

.footer_img_city{
    background-color: #8cc63f;
}

.footer_img_city img{
    width: 100%;  
}

.link_term{
    display: flex;
    flex-direction:row;
    justify-content: center;
    position: relative;
    z-index: 10;
    margin-top: -60px;
}

.link_term a{
    color: #4d4d4d;
    font-size: 22px;
    font-weight: 600;
    text-decoration: underline;
}

/*Card_teacher*/

.card_teacher{
    background-color: #fff;
    width: 90%;
    margin-left: 5%;
    border-radius: 55px;
    padding: 60px 0 60px 0;
}

.card_teacher_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 10% 0;
    padding: 2% 0 3%;
    border-bottom: 3px dashed #d40023;
}

.card_name h2{
    font-weight: bolder;
    font-size: 35px;
}

.card_name h4{
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
}

.card_name_plus{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.card_name_plus img{
    width: 10%;
}

.card_name_plus span{
    font-weight: 400;
    font-size: 25px;
    color: #999999;
    padding: 10px 20px 0;
}

.card_button{
    width: 9%;
}

/*START OF RESPONSIBILITY*/
@media only screen and (max-device-width: 900px) {

    .logo_cyc img{
        width: 80%;
        padding: 0 10% 0;
    }

    .header_buttons{
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        width: 100%;
        position: relative;
        z-index: 10;
        margin-bottom: -250px;
        padding-top: 40px;
    }

    .come_back_button, .menu_button{
        padding: 5% 6% 0;
        width: 10%;
    }

    .profile_img{
        width: 100%;
        margin-bottom: -14%;
        margin-left: 0;
    }

    .profile_img img{  
        top: 0;
        width: 30%;
    }

    .customization_user{
        padding-top: 25%;
    }

    .profile_button, .look_teachers_button{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-bottom: 25px;
        padding: 0 10% 0;
    }

    .profile_button button, .look_teachers_button button{
        width: 100%;
        height: 120px;
        border-radius: 25px;
        border: none;
        font-size: 40px;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
        background-color: #fff;
    }

    .look_teachers_button button{
        background-color: #f7931e;
    }

    .logout_button{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        width: 67%;
        margin-bottom: 25px;
        padding: 0 0 0 19%;
    }

    .logout_button button{
        width: 100%;
        height: 120px;
        border-radius: 25px;
        border: none;
        font-size: 40px;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
        background-color: #fff;
    }

    .link_term a{
        font-size: 38px;
    }
}